<div class="text-muted mt-3">
  <small>This password must contain at least:</small>
  <ul class="mt-2">
    <li><small>8 characters</small></li>
    <li><small>1 digit</small></li>
    <li><small>1 uppercase letter</small></li>
    <li><small>1 lowercase letter</small></li>
    <li><small>1 special character: (for example: &!#?;+)</small></li>
  </ul>
</div>
