PORT=3333
HOST=0.0.0.0
NODE_ENV=development
SITE_URL="https://example.com"
SITE_NAME="Adonis Starter"
APP_KEY=qsyTaIy1daEAm47-Gtq6iilMoc5gzVuV
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=pg
PG_PORT=5432
PG_HOST="amazonaws.com"
PG_USER=user
PG_PASSWORD=password
PG_DB_NAME=name
EMAIL_FROM=<email-adress>
SMTP_HOST=<localhost>
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
