@layout('layouts/main')

@section('content')
<div class="container">
  <h1>Créer un post</h1>
  <div class="container">
    <div class="shadow-lg p-5">
    @include('forms/postForm')
    </div>
  </div>
</div>
@endsection
