@layout('layouts/main')

@section('title')
Créer un compte
@endsection

@section('content')
<main>
  <div class="container">
    <h1>Editer le profil</h1>
    <div class="shadow-lg p-5">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          édition utilisateur
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</main>
@endsection