<p>Hello {{ user.name }} ! 👋</p>
<p>Your account has been created on our site <strong>{{siteName}}</strong>.</p>
<p>
  Verify your email address to log in and get started.
  @!component('partials/mailButton', {
    text: 'Verify Email',
    href: verifyUrl
  })
</p>

<p>Verify Link:  {{ verifyUrl }}</p>







