<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
  @section('title')
    Adonis Todo App
  @endsection
  </title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @!section('content')
</body>
</html>