@layout('layouts.main')

@section('content')
<div class="container">
  List des posts
  @each(post in posts)
  <div> {{ post.title }} </div>
  <div> {{ post.content }} </div>
  @end
</div>
@endsection
