@layout('layouts.main')

@section('content')
<div class="container">
  <h1>Liste des posts</h1>
  @each(post in posts)
  <table class="table">
    <tr>
      <td> {{ post.title }} </td>
      <td> {{ post.content }} </td>
    </tr>
  </table>
  @end
</div>
@endsection
