@layout('layouts/main')

@section('title')
Mon compte
@endsection

@section('content')
<div class="container">
  <h1>Éditer mon profil</h1>
  <div class="container">
    <div class="shadow-lg p-5">
      @include('forms/userForm')
    </div>
  </div>
</div>
@endsection 