@layout('layouts/main')

@section('title')
Créer un compte
@endsection

@section('content')
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="card mt-5">
          <div class="card-header">Créer un compte</div>
          <div class="card-body">
            @include('forms/signupForm')
          </div>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</main>
@endsection