@layout('layouts/main')

@section('title')
Se connecter
@endsection

@section('content')
<main>
  <div class="container">
    <h1>Se connecter</h1>
    <div class="shadow-lg p-5">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        @include('forms/signinForm')
      </div>
    </div> <!-- end row -->
    </div>
  </div> <!-- end container -->
</main>
@endsection